  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ECEFF1;
  }

  main {
    flex: 1 0 auto;
  }
.collapsible-header{
	height:auto;
	font-size:1.15em;
	padding: 1rem 1.4rem;
	line-height: 2rem;
	font-weight: 400;
}

.collapsible-header i{
	float: right;
	margin-right: 0rem;
	line-height: 2rem;
	font-size: 1.5rem;
	color: #0D47A1;
}
.collapsible{
	  margin: 3rem 20% 3rem 20%;
}

button {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}
button:disabled{
	background: red;
  text-decoration: none;
}
.collapsible-body{
	background-color: #FAFAFA;
	color: #212121;
}

nav{
	background-color: #2196F3;
}
nav .brand-logo{
	padding-left: 20px;
	font-size: 1.8em;
}

.toast{
	font-size: 1em;
}

#nav-banner{
	height: 25%;
	background: url(/bulletinbeta/img/navbar-banner.jpg); 
	color: white;
	position: relative;
	min-height: 150px;
}

#nav-banner .avatar{
  border-radius: 50%;
  width: 42px;
  bottom: 60px;
  position: absolute;
  left: 12px;
  display: none;
}

#nav-banner .username{
  position: absolute;
  bottom: -12px;
  left: 12px;
  font-size: 1.5em;
}

#nav-banner .email{
  position: absolute;
  bottom: -24px;
  left: 12px;
  font-size: 0.8em;
}

#signout:hover{
  cursor: pointer;
}

#signout2:hover{
  cursor: pointer;
}

#username2{
font-size: 1.2rem;
}

#email2, #username2:hover{
  cursor: auto;
  background-color: white;
}
nav .button-collapse i {
  font-size: 2.3rem;
  padding: 15px;
}

footer.page-footer{
	background-color: #64B5F6;
}
@media only screen and (max-width: 992px){
nav .brand-logo {
	font-size: 1.5em;}
.collapsible{
	  margin: 0;
}
.modal {
  width: 100%;
}
  .toast{
    margin-top: 0;
    word-break: break-all;
    height: auto;
      line-height: 24px;
  padding: 12px 24px;
  }
}